
/* надпись "Мир никогда не будет прежним..."*/
body {

	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	font-family: "Roboto","Arial",sans-serif;
  width: 1440px;
  margin: 0 auto;
  /*margin: 0 auto;*/
	}

/* надпись "Веб-сайты."*/
.websites {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: "Roboto","Arial",sans-serif;
}

/* надпись "Мы-маленькая..."*/

.about-us {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: bold;
	font-family: "Roboto","Arial",sans-serif;
}

/* надпись ",Долго, дорого, скрупулезно"*/
.slogan {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: bold;
	font-family: "Roboto","Arial",sans-serif;
}

/*для Хедера*/

.main-header {
  /*height: 100px;*/
  border: 2px solid red;
  min-height: 70px;
  width: 1200px;
  margin-bottom: 100px;
  background-color: darkgrey;
  }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



.container {
  width: 1200px;
  min-height: 70px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: lightblue;
}

.main-navigation {
  float: left;
  width: 700px;
  height: 70px;
  /* Только для оформления сетки */
  background-color: coral;
}

.user-block {
  float: right;
  width: 140px;
  height: 70px;
  /* Только для оформления сетки */
  background-color: aquamarine;
}


/*Для MAIN*/

main {
  margin: 0 auto;
}

/*Первый блок*/

.slogan-slider {
  width: 1200px;
  margin-bottom: 80px;
}

.slogan-slider::after {
  content: "";
  display: table;
  clear: both;
}


.slogan-text {
  height: 330px;
  width: 420px;
  float: left;
}

.header-slider {
  float: right;
}

.slider {
  float: left;
}

.slider img {
  width: 400px;
  height: 300px;
}

/*Второй блок*/

.composition {
width: 1200px;
  margin-bottom: 0px;
 height: 430px;
}

.composition::after {
  content: "";
  display: table;
  clear: both;
  }

.composition-items {
  float: left;
  margin-right: 100px;
  margin-top: 70px;
}

.composition-items:last-child {
  margin-right: 0;
}

.composition-items.img {
  width: 150px;
  height: 100px;
}

/*Третий блок*/

.about{
  width: 1200px;
  height: 528px;
  }

.about::after {
  content: "";
  display: table;
  clear: both;
}

.about-slogan {
  float: left;
  width: 700px;
  height: 415px;
  padding: 20px;
}

.achievements {
  float: right;
  width: 400px;
  height: 455px;
  padding: 20px;
}

/*четвертый блок*/

.friends {
width: 1200px;
margin: 0 auto;
}

.friends::after {
  content: "";
  display: table;
  clear: both;
}

.friends-logo {
  float: left;
  width:260px;
}

/*Для подвала*/

.footer {
  width: 1200px;
  min-height: 300px;
}

/*Как сделать карту????????????????*/

.pointer {
  width: 50px;
  height: 50px;
}

.map {
  margin-top: 69px;
}

.socials {
  min-height: 115px;
  width: 1000px;
}

.socials::after {
  content: "";
  display: table;
  clear: both;
}

.footer-social {
  float: left;
  width: 260px;
  margin-left: 0px;
  margin-top: 73px;
}

.contact {
  width: 320px;
  height: 288px;
  border: 1px solid lightgrey;
  padding-top: 50px;
  padding-left: 50px;
}

.contact a {
  text-decoration: none;
  color: white;
  background-color:rgb(251,96,90);
  padding: 20px 50px;
  }

.social-btn {
  display: inline-block;
  width:78px;
  height: 78px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: lightgrey url("img/Shape 2 copy 3.png") center;
  border-radius: 45px;
}

.social-btn social-btn-vk {
  background-image: url('img/vk-icon.png') no-repeat;
}

.social-text {
  float: right;
  min-width: 548px;
  margin-top: 73px;
}

.social-text {
  font-size: 36px;
}

.social-text p {
  font-size: 16px;
}




/*Стили для Каталога*/


.title {
  width: 1160px;
  height: 95px;
  text-align: center;
  padding-top: 20px;
}

/*стили для горизонтального фильтра*/

.filter {
  width: 1160px;
  height: 100px;
  border: 1px solid lightgrey;
  vertical-align: middle;
}

.filter::after {
  content: "";
  display: table;
  clear: both;
}

.cost {
  float: left;
  width: 160px;
  }

.sort {
  float: left;
  width: 160px;
  margin-left: 250px;
}

.selection-block {
  float: right;
  width: auto;
}

.selection {
  display: inline-block;
}

a.selection  {
  color: rgb(178,178,178);
  text-decoration: none;
}

/*Стили для левого фильтра*/

.filter-left {
  width: 260px;
}

/*.left {
  display: inline-block;
  width: 115px;
}*/

/*.right {
  display: inline-block;
  margin-left: 35px;
}*/

.block-left {
  display: inline-block;
}

.field {
  display: inline-block;
  min-width: 85px;
}

.min-price {
  width: 80px;
}

.max-price {
  width: 80px;
}

/*Стили для "сетки"*/

.sidebar-left-2 {
  width: 200px;
}

.sidebar-left-2-1 {
  display: block;
  width: 200px;
}

.sidebar-left-while {
  float: left;
}

/*стили для каталога */

.sidebar-catalog {
  width: 1160px;
  margin: 0 auto;
  margin-left: 20px;
}

.sidebar-catalog::after {
  content: "";
  display: table;
  clear: both;
}

.catalog {
  float: left;
  width: 820px;
  margin: 0 auto;
  text-align: center;
}

.catalog-item {
  display: inline-block;
  width: 360px;
  height: 615px;
}

div.pagination {
  margin: 0 auto;
  width: 444px;
}

.pagination-page {
  width: 50px;
  height: 50px;
  border: 2px solid lightgrey;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

